
.hero {
  /* margin-top: 4%; */
  width: 100%;
  height: 120vh;
  /* padding: 20px 20px 0px 20px; */
  display: flex; 
  flex-direction: column;
  position: relative;
  /* background-color: rgb(9, 14, 34); */
   /* background-image: linear-gradient(to right top, #08154a, #061440, #061336, #09112c, #090e22); */
  /* border: 1px solid rgb(72, 0, 255); */
  /* background: rgb(12,16,36);
background: linear-gradient(90deg, rgba(12,16,36,1) 0%, rgba(15,25,64,1) 19%, rgba(23,63,128,1) 100%); */
clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

}

.lottieCoder {
  width: 43%;
  padding: 40px;
  position: absolute;
  top: 45%;
  left: 78%;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* border: 1px solid rgb(38, 0, 255); */

}

.HeroText {
  height: 90%;
  /* width:70%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: rgb(0, 0, 0);
  /* color: rgb(255, 255, 255); */
  /* color: rgb(48, 208, 48); */

  /* border: 1px solid white; */
  padding: 10%;
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(9, 14, 34); */

  /* border: 1px solid red; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.hero-big-text {
  /* font-size: 4.5rem; */
  font-size: 6vw;
  /* font-family: 'Monoton', sans-serif; */
  font-family: sans-serif;
  font-weight: bolder;
  width: fit-content;
  width: 90%;
  text-align: left;
  z-index: 3;
  margin-bottom: 10px;
  /* color: rgb(48, 208, 48); */
 /* background-color: rgba(0, 0, 0, 0.297); */



}

.hero-small-text {
  font-size: 1.3rem;
  /* color: rgb(48, 208, 48); */
 font-family: 'Urbanist', sans-serif;
 background-color: rgba(0, 0, 0, 0.297);
 width: fit-content;
 padding: 15px;
 width: 57%;
border-radius: 13px;

}


.hero-cta {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.hero-cta a {
  text-decoration: none;
  color: green;
  font-size: 1.3rem;
}

.arrow-down {
  margin-left: 15px;
  font-size: 1.7rem;
}






@media (max-width: 1000px) {
  .hero-big-text {
    font-size: 10vw;
    text-align: center;
    padding-bottom: 10%;
  }
  .lottieCoder {
    width: 70%;
  }
  .hero-small-text {
    text-align: center;
  } 
}


@media (max-width: 820px) {
  .hero-big-text {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  .hero-big-text {
    font-size: 13vw;
  }
}
