.about-page {
  padding-bottom: 20vh;
  background-color: #1a191d;
  height: 100vh;
  color: white;
}

.expertise-title {
  text-align: center;
  padding: 120px 0px 50px 0px;
  color:whitesmoke
}

.about-ctr {
  /* border: 1px solid whitesmoke; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.about-text {
  width: 50%;
}

.about-left-img {
background-image: url("../../../public/logo7.png");
width: 600px;
height: 600px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
/* border-radius: 75%; */
/* margin-right: 40px; */
/* margin-right: 500px; */
}


/* .expertise-title {
  text-align: center;
  padding: 20vh 0px;
  color:whitesmoke
}

.expertise-box-ctr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:whitesmoke;

}

.expertise-box {
  width: 30%;
  border: 1px solid whitesmoke;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;

}

.expertise-box-2, .expertise-box-3 {
  border-left: none;
}

.expertise-box > p{
  line-height: 1.7rem;
}

.expertise-box h1, .expertise-box p {
  padding: 20px;
} */