.about-page {
  padding-bottom: 20vh;
  background-color: #1a191d;
  height: 100vh;
  color: white;
}

.expertise-title {
  text-align: center;
  padding: 15vh 0px;
  color:whitesmoke
}

/* .expertise-title {
  text-align: center;
  padding: 20vh 0px;
  color:whitesmoke
}

.expertise-box-ctr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:whitesmoke;

}

.expertise-box {
  width: 30%;
  border: 1px solid whitesmoke;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;

}

.expertise-box-2, .expertise-box-3 {
  border-left: none;
}

.expertise-box > p{
  line-height: 1.7rem;
}

.expertise-box h1, .expertise-box p {
  padding: 20px;
} */