.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  z-index: 2000;
  color: white;
  background-color: black;
  padding: 20px 20px;

}

.nav-left {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-left: 20px;
}


.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  background: #e8e8e8;
}


.text-a{
  text-decoration: none !important;
  color: black;
}

.logo-image {
  border-radius: 50%;
}

.nav-logo-text {
  font-size: 1.4rem;
  margin-left: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.nav-links {
  display: flex;

  /* justify-content: center;
  align-items: center; */
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
}

.navbar-social-links {
  display: flex;
  align-items: center;
  list-style: none;
  /* justify-content: space-between; */
  /* width: 250px; */
  /* padding: 0px 20px; */
}

.navbar-social-links li {
    padding: 0px 10px;

  /* padding-left: 40px; */
}

.resume-btn a {
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 5px 10px;
  border-radius: 4px;

}

.social-icon {
  font-size: 1.6rem;
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

