.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px;
  /* background-color: rgb(251, 251, 251); */
  background-color: rgba(0, 0, 0, 0.066);
  /* border-bottom: 0.1px solid white; */
  font-family: monospace;
}

.logo-ctr > a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(48, 208, 48);
  font-family: 'Monoton', sans-serif;

}

.nav-logo-dash {
  color: plum
}


.logo-ctr > a:hover {
  color:rgb(255, 255, 255)
}

.nav-links-ctr {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px 20px;
  /* font-weight: bold; */
}

.nav-link a{
  text-decoration: none;
  /* color: rgb(48, 208, 48); */
  color: whitesmoke;

  font-size: 1rem;
  /* color: rgb(0, 0, 0) */

}

.nav-link a:hover {
  color:rgb(255, 255, 255);   
}

.nav-link-slash {
  color:rgb(48, 208, 48);
}

.nav-contact-button {
  background-color: rgb(46, 175, 46);
  color:white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}