
#Works {
  /* width: 100vw; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%; */

}

.works-section {
  
}

.works-cards-ctr {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly
}

.works-title {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 120px;
  padding-bottom: 50px;
}



.works-card {
  width: 280px;
  border: 1px solid black;
  border-radius: 10px;
}

.works-card-img {
  background: url("../../../public/logo5.png");
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.works-card-text {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.works-card-text >* {
  padding-bottom: 15px;
} 

.works-tech-stack-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.works-tech-stack-list li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}