.app {
  display: flex;
  flex-direction: column;
  /* font-family: sans-serif; */
  /* font-family: ; */
  /* justify-content: center; */
  /* align-items: center; */
  /* font-family: 'Monoton', sans-serif; */
font-family: 'Roboto', sans-serif;
/* font-family: 'Urbanist', sans-serif; */
}
